@use './variable' as *;
@use './media' as *;
html {
	box-sizing: border-box;
}

::selection {
	background: var(--selection-background, #{$color3});
}

::-moz-selection {
	background: var(--selection-background, #{$color3});
}
body {
}

// @media screen and (min-width: 750px) {
// 	body {
// 		font-size: 1.4rem;
// 	}
// }

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6,
h6 a {
}

h1,
.h1,
.display-text {
}

h2,
.h2 {
}

h3,
.h3 {
}

h4,
.h4 {
}

%cover {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

// EXAMPLE OF USAGE FOR %cover

// figure{
// 	position: relative;
// 	height: 121px;
// 	width: 230px;
// 	>img{
// 		@extend %cover;
// 		object-fit: cover;
// 	}

.grecaptcha-badge,
.shop-hcaptcha-badge-container,
#shop-hcaptcha-badge-container {
	visibility: hidden;
}
